header {
    border: 2px groove black;
    padding: 1rem;
    margin: 1rem;
    font-size: medium;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

main {
    border: 1px solid red;
    padding: 1rem;
    /* background-color: rgba(233, 94, 94, 0.712); */
}

div {
    display: flex;
    padding 1rem;
    border: 1px solid green;
    margin: 1rem;
}

section {
    border: 1px solid green;
    padding: 1rem;
}
input, button {
    padding: 1rem;
    margin: 1rem;
}

li {
    list-style: none;
}
h2 {
    font-size: xx-small;
}

